<!-- <app-appheader></app-appheader>
<app-sidebar></app-sidebar> -->
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="list_heading">{{ title | titlecase }}</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">{{ title | titlecase }}</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- SELECT2 EXAMPLE -->
        <div class="card card-gray-dark">
          <div class="card-header">
            <h3 class="card-title">{{ title | titlecase }} Form</h3>
          </div>
          <!-- /.card-header -->
          <form [formGroup]="registrationForm" (ngSubmit)="register()">
            <div class="card-body">
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Brand Name</label>
                    <ng-select [items]="brandlist" bindLabel="name" bindValue="id" [searchable] = "true" formControlName="brandId" placeholder="Select Product"></ng-select>

                    <div *ngIf=" submited && f.brandId.errors " class="invalid-feedback">
                      <div *ngIf="submited && f.brandId.errors.required">Brand name is required</div>
                  </div>
                 </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Category</label>
                    <ng-select [items]="CategoryList" bindLabel="name" bindValue="id" 
                    [searchable] = "true" [clearSearchOnAdd]="true" (change)="changeCategoryEvent($event)"
                     formControlName="categoryId" placeholder="Select Category"></ng-select>
                    <div *ngIf=" submited && f.categoryId.errors " class="invalid-feedback">
                      <div *ngIf="submited && f.categoryId.errors.required">Category is required</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Sub category</label>
                    <ng-select [items]="SubCategoryList" bindLabel="name" bindValue="id" [searchable] = "true" formControlName="subcategoryId" placeholder="Select Sub Category"></ng-select>
                    
                    <div *ngIf=" submited && f.subcategoryId.errors " class="invalid-feedback">
                      <div *ngIf="submited && (f.subcategoryId.errors.required)">Subcategory is required</div>
                  </div>
                 </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="exampleInputPassword1">Model Number</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" 
                    placeholder="Enter Model Number" formControlName="modelNumber"
                    [ngClass]="{ 'is-invalid':  submited && f.modelNumber.errors }">
                    <div *ngIf=" submited && f.modelNumber.errors " class="invalid-feedback">
                      <div *ngIf="submited && f.modelNumber.errors.required">Model Number is required</div>
                    </div>
                 </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="exampleInputPassword1">MRP Price</label>
                    <input type="text" class="form-control" id="mrpPrice"
                     placeholder="Enter MRP Price"formControlName="mrpPrice"
                     [ngClass]="{ 'is-invalid':  submited && f.mrpPrice.errors }">
                     <div *ngIf=" submited && f.mrpPrice.errors " class="invalid-feedback">
                       <div *ngIf="submited && (f.mrpPrice.errors.required
                       || f.mrpPrice.errors.pattern)">MRP Price is required</div>
                       <!-- <div *ngIf="submited && f.mrpPrice.errors.pattern">Mobile Number is required</div> -->
                   </div>
                 </div>
                </div>
                
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="exampleInputPassword1">Unit of measurement</label>
                    <select formControlName="unit" class="form-control select2" style="width: 100%;" [ngClass]="{ 'is-invalid':  submited && f.unit.errors }">
                      <option value="">Select UOM</option>
                      <option *ngFor="let unit of unitlist" value="{{unit.name}}">{{unit.description | titlecase}}</option>
                    </select>
                     <div *ngIf=" submited && f.unit.errors " class="invalid-feedback">
                       <div *ngIf="submited && (f.unit.errors.required
                       || f.unit.errors.pattern)">MRP Price is required</div>
                   </div>
                 </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="exampleInputPassword1">GST</label>
                    <select formControlName="isGST" class="form-control select2" (change)="onGSTChange($event)" style="width: 100%;" [ngClass]="{ 'is-invalid':  submited && f.isGST.errors }">
                      <option value="">Select GST</option>
                      <option value="yes">Yes</option>
                      <option value="no">No</option>
                    </select>
                     <div *ngIf=" submited && f.isGST.errors " class="invalid-feedback">
                       <div *ngIf="submited && (f.isGST.errors.required || 
                       f.isGST.errors.pattern || f.isGST.errors.minlength
                       ||f.isGST.errors.maxlength)">GST is required</div>
                       <!-- <div *ngIf="submited && f.aadhar_card_number.errors.pattern">Aadhar card Number  is required</div> -->
                   </div>
                 </div>
                </div>
                <div class="col-md-3"  *ngIf="isGSTFlag">
                  <div class="form-group">
                    <label for="exampleInputPassword1">GST (in %)</label>
                    <input type="text" class="form-control" id="uidai"
                     placeholder="Please Enter GST %" formControlName="GSTAmount"
                     [ngClass]="{ 'is-invalid':  submited && f.GSTAmount.errors }">
                     <div *ngIf=" submited && f.GSTAmount.errors " class="invalid-feedback">
                       <div *ngIf="submited && (f.GSTAmount.errors.required || 
                       f.GSTAmount.errors.pattern || f.GSTAmount.errors.minlength
                       ||f.GSTAmount.errors.maxlength)">GST is required</div>
                       <!-- <div *ngIf="submited && f.aadhar_card_number.errors.pattern">Aadhar card Number  is required</div> -->
                   </div>
                 </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="exampleInputPassword1">Landing Price</label>
                    <input type="text" class="form-control" id="uidai"
                     placeholder="Enter Landing Price" formControlName="landing"
                     [ngClass]="{ 'is-invalid':  submited && f.landing.errors }">
                     <div *ngIf=" submited && f.landing.errors " class="invalid-feedback">
                       <div *ngIf="submited && (f.landing.errors.required || 
                       f.landing.errors.pattern || f.landing.errors.minlength
                       ||f.landing.errors.maxlength)">Landing is required</div>
                      </div>
                 </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Make 1</label>
                    <ng-select  [ngClass]="{ 'is-invalid':  submited && f.make1.errors }" [items]="brandlist" bindLabel="name" bindValue="id" [searchable] = "true" formControlName="make1" placeholder="Select Make 1"></ng-select>


                    <!-- <select formControlName="make1" class="form-control select2" style="width: 100%;" [ngClass]="{ 'is-invalid':  submited && f.make1.errors }">
                      <option value="">Select Make 1</option>
                      <option *ngFor="let brand of brandlist" value="{{brand.id}}">{{brand.name}}</option>
                    </select> -->
                    <div *ngIf=" submited && f.make1.errors " class="invalid-feedback">
                      <div *ngIf="submited && f.make1.errors.required">Make 1 is required</div>
                  </div>
                 </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Make 2</label>
                    <ng-select  [ngClass]="{ 'is-invalid':  submited && f.make2.errors }" [items]="brandlist" bindLabel="name" bindValue="id" [searchable] = "true" formControlName="make2" placeholder="Select Make 2"></ng-select>

                    <!-- <select formControlName="make2" class="form-control select2" style="width: 100%;" [ngClass]="{ 'is-invalid':  submited && f.make2.errors }">
                      <option value="">Select Make 2</option>
                      <option *ngFor="let brand of brandlist" value="{{brand.id}}">{{brand.name}}</option>
                    </select> -->
                    <div *ngIf=" submited && f.make2.errors " class="invalid-feedback">
                      <div *ngIf="submited && f.make2.errors.required">Make 2 is required</div>
                  </div>
                 </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Make 3</label>
                    <ng-select  [ngClass]="{ 'is-invalid':  submited && f.make3.errors }" [items]="brandlist" bindLabel="name" bindValue="id" [searchable] = "true" formControlName="make3" placeholder="Select Make 3"></ng-select>

                    <!-- <select formControlName="make3" class="form-control select2" style="width: 100%;" [ngClass]="{ 'is-invalid':  submited && f.make3.errors }">
                      <option value="">Select Make 3</option>
                      <option *ngFor="let brand of brandlist" value="{{brand.id}}">{{brand.name}}</option>
                    </select> -->
                    <div *ngIf=" submited && f.make3.errors " class="invalid-feedback">
                      <div *ngIf="submited && f.make3.errors.required">Make 3 is required</div>
                  </div>
                 </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Make 4</label>
                    <ng-select  [ngClass]="{ 'is-invalid':  submited && f.make4.errors }" [items]="brandlist" bindLabel="name" bindValue="id" [searchable] = "true" formControlName="make4" placeholder="Select Make 4"></ng-select>

                    <!-- <select formControlName="make4" class="form-control select2" style="width: 100%;" [ngClass]="{ 'is-invalid':  submited && f.make4.errors }">
                      <option value="">Select Make 4</option>
                      <option *ngFor="let brand of brandlist" value="{{brand.id}}">{{brand.name}}</option>
                    </select> -->
                    <div *ngIf=" submited && f.make4.errors " class="invalid-feedback">
                      <div *ngIf="submited && f.make4.errors.required">Make 4 is required</div>
                  </div>
                 </div>
                </div>
              </div>

              <!-- Model number Ref-->
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Reference Model N0. 1</label>
                    <ng-select  [ngClass]="{ 'is-invalid':  submited && f.modelNumber_ref1.errors }" [items]="modelNumberList" bindLabel="modelNumber" bindValue="modelNumber" [searchable] = "true" formControlName="modelNumber_ref1" placeholder="Select Model Number 1"></ng-select>
                    <div *ngIf=" submited && f.modelNumber_ref1.errors " class="invalid-feedback">
                      <div *ngIf="submited && f.modelNumber_ref1.errors.required">Make 1 is required</div>
                  </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Reference Model N0. 2</label>
                    <ng-select  [ngClass]="{ 'is-invalid':  submited && f.modelNumber_ref2.errors }" [items]="modelNumberList" bindLabel="modelNumber" bindValue="modelNumber" [searchable] = "true" formControlName="modelNumber_ref2" placeholder="Select Model Number 2"></ng-select>
                    <div *ngIf=" submited && f.modelNumber_ref2.errors " class="invalid-feedback">
                      <div *ngIf="submited && f.modelNumber_ref2.errors.required">Make 2 is required</div>
                  </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Reference Model N0. 3</label>
                    <ng-select  [ngClass]="{ 'is-invalid':  submited && f.modelNumber_ref3.errors }" [items]="modelNumberList" bindLabel="modelNumber" bindValue="modelNumber" [searchable] = "true" formControlName="modelNumber_ref3" placeholder="Select Model Number 3"></ng-select>
                    <div *ngIf=" submited && f.modelNumber_ref3.errors " class="invalid-feedback">
                      <div *ngIf="submited && f.modelNumber_ref3.errors.required">Make 3 is required</div>
                  </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Reference Model N0. 4</label>
                    <ng-select  [ngClass]="{ 'is-invalid':  submited && f.modelNumber_ref4.errors }" [items]="modelNumberList" bindLabel="modelNumber" bindValue="modelNumber" [searchable] = "true" formControlName="modelNumber_ref4" placeholder="Select Model Number 4"></ng-select>
                    <div *ngIf=" submited && f.modelNumber_ref4.errors " class="invalid-feedback">
                      <div *ngIf="submited && f.modelNumber_ref4.errors.required">Make 4 is required</div>
                  </div>
                  </div>
                </div>
              </div>
              <!-- Model number Ref-->

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                      <label>BOQ Spacs</label>
                      <ckeditor [editor]="Editor" formControlName="description" data="<p>Hello, world!</p>"></ckeditor>
                      <div *ngIf=" submited && f.description.errors " class="invalid-feedback">
                        <div *ngIf="submited && f.description.errors.required">Description is required</div>
                    </div>
                    </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Technical Compliances</label>
                    <ckeditor [editor]="Editor" formControlName="itemRemark" data="<p>Hello, world!</p>"></ckeditor>
                    <!-- <textarea class="form-control" rows="3" placeholder="Enter Item Remark here
                    "formControlName="itemRemark"
                    [ngClass]="{ 'is-invalid':  submited && f.itemRemark.errors }" rows="5" cols="10"></textarea> -->
                    <div *ngIf=" submited && f.itemRemark.errors " class="invalid-feedback">
                      <div *ngIf="submited && f.itemRemark.errors.required">Item Remark is required</div>
                  </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                      <label>Product USP</label>
                      <ckeditor [editor]="Editor" formControlName="productUSP" data="<p>Hello, world!</p>"></ckeditor>
                      <div *ngIf=" submited && f.productUSP.errors " class="invalid-feedback">
                        <div *ngIf="submited && f.productUSP.errors.required">Product USP is required</div>
                    </div>
                    </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>OEM Criteria</label>
                    <ckeditor [editor]="Editor" formControlName="OEMcriteria" data="<p>Hello, world!</p>"></ckeditor>
                    <div *ngIf=" submited && f.itemRemark.errors " class="invalid-feedback">
                      <div *ngIf="submited && f.itemRemark.errors.required">OEM Criteria is required</div>
                  </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                      <label for="exampleInputPassword1">Upload Photos</label>
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" 
                        id="customFile" formControlName="document_data" (change)="onfileUpload($event,'documents')"
                        [ngClass]="{ 'is-invalid':  submited && f.document_data.errors }">
                        <div *ngIf=" submited && f.document_data.errors " class="invalid-feedback">
                          <div *ngIf="submited && f.document_data.errors.required">Photo is required</div>
                      </div>
                        <label class="custom-file-label" for="customFile"> {{ filename1 ? filename1 : 'Select Photo'   }}</label>
                      </div>
                    </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="exampleInputPassword1">Upload Brochure(.pdf)</label>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" 
                      id="customFile" formControlName="pdf_data" (change)="onpdffileUpload($event)"
                      [ngClass]="{ 'is-invalid':  submited && f.pdf_data.errors }">
                      <div *ngIf=" submited && f.pdf_data.errors " class="invalid-feedback">
                        <div *ngIf="submited && f.pdf_data.errors.required">PDF is required</div>
                    </div>
                      <label class="custom-file-label" for="customFile">{{ filename3 ? filename3 : 'Select PDF'   }}</label>
                    </div>
                  </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="exampleInputPassword1">Product PDF/Banner Image</label>
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" 
                    id="customFile" formControlName="bannerImg" (change)="onfileUpload($event,'bannerImg')"
                    [ngClass]="{ 'is-invalid':  submited && f.bannerImg.errors }">
                    <div *ngIf=" submited && f.bannerImg.errors " class="invalid-feedback">
                      <div *ngIf="submited && f.bannerImg.errors.required">Photo is required</div>
                  </div>
                    <label class="custom-file-label" for="customFile">{{ filename2 ? filename2 : 'Select Photo'   }}</label>
                  </div>
                </div>
            </div>
              </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              <input type="hidden" formControlName="productId">
               <button type="submit" class="btn btn-custom">Save Product</button>
            </div>
          </form>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
<!-- 
<app-footer></app-footer> -->