<!-- <app-appheader></app-appheader>
<app-sidebar></app-sidebar> -->
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="list_heading">{{ title | titlecase }}</h1>
          </div>
          <div class="col-sm-4">
            <div class="input-group">
              <div class="input-group">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile04" 
                   (change)="Onselectfile($event)"  name="file">
                  <label class="custom-file-label" for="inputGroupFile04">{{ bulkUpload ? bulkUpload.name:'Choose bulk product file'}}</label>
                </div>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" [disabled]="!bulkUpload" id="inputGroupFileAddon04" (click)="onsubmitBulkUpload()">Upload</button>
                </div>
              </div>
     
              <div class="text-danger file-error" *ngIf="showerror" role="alert">Please select file</div>
            </div>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
          <div class="card-body">
            <table *ngIf="productlist.length" datatable [dtOptions]="dtOptions" class="table table-striped projects">
                <thead>
                    <tr>
                        <th >ID</th>
                        <th >Brand Name</th>
                        <th >Category</th>
                        <th>Subcategory</th>
                        <th>Model Number</th>
                        <th>MRP Price</th>
                        <th>GST Amount</th>
                        <th  class="text-center">Landing</th>
                        <th class="text-center"> Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of productlist; index as i;">
                        <td>{{product.id}}</td>
                        <td>
                            <a>{{ product.brand ? product.brand.name : 'N/A'  }}</a><br>
                            <small class="{{ product.status==true ? 'right badge badge-succcess' : 'right badge badge-danger' }}">{{ product.status==true ? 'Active' : 'inactive' }}</small>
                        </td>
                        <td>
                            <span>{{ product.category ? product.category.name : 'N/A'  }}</span>
                        </td>
                        <td >
                            <span>{{ product.subcategory ? product.subcategory.name : 'N/A' }}</span>
                        </td>
                        <td >
                          <span>{{ product.modelNumber }}</span>
                        </td>
                        <td >
                        <span><i class="fas fa-rupee" aria-hidden="true"></i>{{ product.mrpPrice }}</span>
                        </td>
                        <td >
                          <span> <i class="fas fa-rupee"></i>{{ product.GSTAmount }}</span>
                        </td>
                        <td >
                            <span><i class="fa fa-rupee" aria-hidden="true"></i>{{ product.landing }}</span>
                        </td>
                        <td class="project-actions text-center">
                          <a class="btn btn-warning btn-sm" title="Edit Product" href="product/edit/{{ product.id }}">
                              <i class="fas fa-pen"></i>
                          </a>

                          <a class="btn btn-danger btn-sm" title="Delete Product" (click)="selectedUser = product" href="javascript:void(0)" 
                            data-toggle="modal" data-target="#staticBackdrop">
                                <i class="fas fa-trash"></i>
                          </a>
                            <a class="btn btn-primary btn-sm" title="View Product" (click)="viewDetails(product)"  href="javascript:void(0)" 
                            data-toggle="modal" data-target="#detailsPopup">
                                <i class="fas fa-eye">
                                </i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
  
      </section>
      <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->



<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" *ngIf="selectedUser">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Delete user</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close-user">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure to Delete the product {{ selectedUser.brand_name ? selectedUser.brand_name : 'N/A' }} ? This action can not be reverted.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-custom"
         (click)="deleteproductlist(selectedUser.id)">Delete</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="detailsPopup" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Product Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close-user">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 col-sm-6">
              <h3 class="d-inline-block d-sm-none">wewewe</h3>
              <div class="col-12">
                  <img src="{{ productDetails.documents }}" class="product-image" alt="Product Image">
              </div>
          </div>
          <div class="col-12 col-sm-6">
              <h3 class="my-3">{{ productDetails.modelNumber }}</h3>
              <hr>
              <div class="bg-gray py-2 px-3 mt-4">
                 <h2 class="mb-0">
                    <i class="fas fa-inr"></i>Rs. {{ productDetails.mrpPrice }}
                  </h2>
                  <!-- <h4 class="mt-0">
                      <small>Ex Tax: $80.00 </small>
                  </h4> -->
              </div>
              <div class="py-2 px-3 mt-4">
                <table class="table table-striped">
                  <tr>
                    <th>Brand</th>
                    <td> {{ productDetails.modelNumber }} </td>
                  </tr>
                  <tr>
                    <th>Category</th>
                    <td>{{ productDetails.category ? productDetails.category.name : 'N/A' }}</td>
                  </tr>
                  <tr>
                    <th>Sub Category</th>
                    <td>{{ productDetails.subcategory ? productDetails.subcategory.name : 'N/A' }}</td>
                  </tr>
                  <tr>
                    <th>GST Amount</th>
                    <td>{{ productDetails.GSTAmount ? productDetails.GSTAmount : "N/A" }}</td>
                  </tr>
                  <tr>
                    <th>PDF File</th>
                    <td><a [href]="productDetails.pdfFile" target="_blank" rel="noopener noreferrer">
                      <i class="fas fa-file-pdf" aria-hidden="true"></i>
                    </a>
                    </td>
                  </tr>
                </table>
              </div>
          </div>
      </div>
      <div class="row mt-4">
          <nav class="w-100">
              <div class="nav nav-tabs" id="product-tab" role="tablist">
                  <a class="nav-item nav-link active" id="product-desc-tab" data-toggle="tab" href="#product-desc"
                      role="tab" aria-controls="product-desc" aria-selected="true">Description &nbsp; 
                      <button class="btn btn-warning btn-sm" title="Copy clipboard" (click)='copyToClipboard(elementContentToCopy1)'>
                        <i class="fas fa-clipboard"></i>
                      </button>
                    </a>
                  <a class="nav-item nav-link" id="product-comments-tab" data-toggle="tab" href="#product-comments"
                      role="tab" aria-controls="product-comments" aria-selected="false">Item Remark &nbsp;
                      <button class="btn btn-warning btn-sm" title="Copy clipboard" (click)='copyToClipboard(elementContentToCopy2)'>
                        <i class="fas fa-clipboard"></i>
                      </button>
                    </a>
                  <a class="nav-item nav-link" id="product-productUSP-tab" data-toggle="tab" href="#product-productUSP"
                      role="tab" aria-controls="product-comments" aria-selected="false">Product USP &nbsp;
                      <button class="btn btn-warning btn-sm" title="Copy clipboard" (click)='copyToClipboard(elementContentToCopy3)'>
                        <i class="fas fa-clipboard"></i>
                      </button></a>
                  <a class="nav-item nav-link" id="product-OEMcriteria-tab" data-toggle="tab" href="#product-OEMcriteria"
                      role="tab" aria-controls="product-comments" aria-selected="false">OEM Criteria 
                      <button class="btn btn-warning btn-sm" title="Copy clipboard" (click)='copyToClipboard(elementContentToCopy4)'>
                        <i class="fas fa-clipboard"></i>
                      </button>
                  </a>
              </div>
          </nav>
          <div class="tab-content p-3" id="nav-tabContent">
               <div class="tab-pane fade show active" id="product-desc" role="tabpanel"
                  aria-labelledby="product-desc-tab"> 
                  <div #elementContentToCopy1 [innerHTML]="productDetails.description"></div>
                </div>
              <div class="tab-pane fade" id="product-comments" role="tabpanel" aria-labelledby="product-comments-tab">
                <div #elementContentToCopy2 [innerHTML]="productDetails.itemRemark"></div>
              </div>
              <div class="tab-pane fade" id="product-productUSP" role="tabpanel" aria-labelledby="product-productUSP-tab">
                <div #elementContentToCopy3 [innerHTML]="productDetails.productUSP"></div>
              </div>
              <div class="tab-pane fade" id="product-OEMcriteria" role="tabpanel" aria-labelledby="product-OEMcriteria-tab">
                <div #elementContentToCopy4 [innerHTML]="productDetails.OEMcriteria"></div>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>