  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-10">
            <h1 class="list_heading">{{ title | titlecase }}</h1>
          </div>
          <div class="col-sm-2">
            <button type="button" data-toggle="modal" data-target="#staticBackdrop" class="btn btn-dark" (click)="openModal()">
                Add
            </button>
            <!-- <div class="input-group">
              <div class="input-group">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile04" 
                   (change)="Onselectfile($event)"  name="file">
                  <label class="custom-file-label" for="inputGroupFile04">{{ bulkUpload ? bulkUpload.name:'Choose bulk product file'}}</label>
                </div>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" [disabled]="!bulkUpload" id="inputGroupFileAddon04" (click)="onsubmitBulkUpload()">Upload</button>
                </div>
              </div>
     
              <div class="text-danger file-error" *ngIf="showerror" role="alert">Please select file</div>
            </div> -->
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
          <div class="card-body">
            <table *ngIf="brandlist.length" datatable [dtOptions]="dtOptions" class="table table-striped projects">
                <thead>
                    <tr>
                        <th >ID</th>
                        <th >Brand Name</th>
                        <th>Status</th>
                        <th class="text-center"> Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let brand of brandlist; index as i;">
                        <td>{{brand.id}}
                        </td>
                        <td>{{ brand.name | titlecase }}</td>
                        <td><span>  {{ brand.status==true ? "Active" : "Deactive" }} </span></td>
                        <td class="project-actions text-center">
                           <a class="btn btn-danger btn-sm" (click)="selectedBrand = brand" href="javascript:void(0)" 
                            data-toggle="modal" data-target="#staticBackdropDelete">
                                <i class="fas fa-trash">
                                </i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
  
      </section>
      <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


<div class="modal fade" *ngIf="isModalOpen" id="staticBackdrop">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add</h4>
                <button type="button" class="close close-brand" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
                </button>
            </div>
            <form [formGroup]="form" method="post" (ngSubmit)="onSubmit()">
                <div class="modal-body">
                    <label _ngcontent-mom-c60="" for="exampleInputEmail1">Brand Name</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }"  placeholder="Enter Brand Name" formControlName="name">
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                        <span *ngIf="f.name.errors.required" id="exampleInputEmail1-error">Please enter a valid name</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="submit" class="btn btn-dark btn-block">Add Brand</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdropDelete" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" *ngIf="selectedBrand">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Delete Brand</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close-user">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure to Delete the brand <b>{{selectedBrand.name}}</b> ? 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-custom"
           (click)="deleteBrand(selectedBrand.id)">Delete</button>
        </div>
      </div>
    </div>
  </div>